@charset "UTF-8";

/* 
   {TYPICAL DEVICE BREAK-POINS}
---------------------------------
pequenas telas: até 600px
celular: 600px até 768px
tablet: 768px até 1024px
desktop: 1024px até 1440px
grandes telas: acima de 1440px
*/

@media screen and (orientation: landscape) { /* CELULAR HORIZONTAL */
    section#login {
        width: 500px;
        height: 300px;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-position: left center;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) { /* TABLET */
    body {
        background-image: linear-gradient(-45deg, var(--cor2), var(--cor1));
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-position: left center;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 1024px) { /* TELAS MAIORES */
    body {
        background-image: linear-gradient(-45deg, var(--cor2), var(--cor1));
    }

    section#login {
        width: 990px;
    }

    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
        background-position: right center;
    }

    section#login > div#formulario {
        float: right;
        width: 50%;
    }
}