@charset "UTF-8";

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--cor2);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login {
    background-color: white;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;

}

section#login > div#imagem {
    display: block;
    background: var(--cor2) url(../img/glass.jpg) no-repeat center/cover;
    height: 200px;
}

section#login > div#formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario p {
    font-size: 0.8em;
}

div.campo {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor2);
    height: 40px;
    padding: 4px;
    border-radius: 5px;
    margin: 5px 0px;
    
}

div.campo span {
    color: white;
    width: 32px;
    height: 32px;
    text-align: center;
    font-size: 32px;
}

div.campo input {
    width: calc(100% - 37px);
    height: 32px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
}

div#formulario input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--cor1);
    color: white;
}

div#formulario input[type=submit]:hover {
    background-color: #387a78;
}

div#formulario button#botao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    background-color: transparent;
    color: var(--cor1);
    border: 2px solid var(--cor1);
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

div#formulario button#botao:hover {
    background-color: #94cfcd;
    color: white;
}